@font-face {
    font-family: 'SF Pro Display';
    src: url("/assets/font/SF-Pro-Display-Regular.otf");
    font-style: normal;
}

* {
    font-family: 'SF Pro Display'
}

.clr {
    margin: auto;
    max-width: 77.25rem;
}

/* Style header */
.site-header {
    max-height: 5.375rem;
    background: #ffffff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
}

.main-header {
    padding: 1.25rem 0;
    background: #ffffff;
}

.navbar-brand {
    margin: 0 !important;
}

.navbar-nav {
    margin-left: 5.625rem;
}

.nav-item {
    margin-right: 3.125rem;
}

.nav-link {
    padding: 0.3125rem !important;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 500;
    color: #202124 !important;
}

.search-icon {
    margin-right: 1.5625rem;
}

.btn-login {
    padding: 0.3125rem 0 0.3125rem 0.3125rem !important;
    border: none;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 500;
    color: #202124 !important;
}

.category {
    margin-top: 1.5625rem;
}

.clr h5 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #1A1A1A;
}

.category > .row {
    margin-top: 1.25rem;
}

.category-item {
    max-width: 18.375rem;
    max-height: 4.5rem;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0.25rem;
}

.card-img {
    border-radius: 0 !important;
}

.title-clr {
    position: relative;
}

.category-title {
    padding-left: 1rem;
    font-size: 1.125rem;
    font-weight: 600;
    color: #202124;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}

.most-popular {
    margin-top: 6.25rem;
}
